{% extends 'forgetpassword/Olvido.html' %}
{% block extrahead %}
    <title></title>
{% endblock %}
{% block bootstrap %}

{% endblock %}
{% block content %}
    {% if validlink %}
        <form method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva Contraseña</label>
            {{ form.new_password1 }}
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme su contraseña</label>
            {{ form.new_password2 }}
            <button  type="submit">Cambiar mi contraseña</button>
        </form>
    {% else %}
        <form>
            <h1 style="color: red;">ENLACE INVALIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>
        </form>
    {% endif %}
{% endblock %}