{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'images/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'css/registropersona.css' %}">
    <title>Inicio de Sesión</title>
</head>
    <body>

        <form method="post">
            {% csrf_token %}
            <div>
                <label>Iniciar Sesión</label>
            </div>
            <div>
                {{ form.username.errors }}
                <input id="id_username" maxlength="254" name="username" type="text" placeholder="🔐 Usuario"/>
            </div>
            <div>
                {{ form.password.errors }}
                <input id="id_password" name="password" type="password" placeholder="🔑 Contraseña"/>
            </div>
            <div>
                <button type="submit" class="boton">Ingresar</button>
            </div>
            <div>
                <a href="{% url 'password_reset' %}">¿Olvidaste tu constraseña?</a>
            </div>
        </form>

    </body>
</html>