{% load staticfiles %}
<!DOCTYPE html>
<!--
	UCATOLICA 2018
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Sistema de Tutorias</title>
    {% endblock %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    {% block bootstrap %}
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-layers.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <!--<noscript>-->
    <link rel="stylesheet" href="{% static 'css/skel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
    {% endblock %}
    {% block extrabootstrap %}

    {% endblock %}
    <!--</noscript>-->
</head>
<body class="landing">
<!-- Header -->
<header id="header">
    <h1>Bienvenido/a: <a href="{% url 'main' %}">{{ user.first_name }} </a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="#">Agendar Tutoria</a></li>

            <li><a href="{% url 'salir' %}">Cerrar Sesión</a> </li>
        </ul>
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    <ul class="actions">
    </ul>
</section>
{% block content %}

{% endblock %}
<!-- One -->

<!-- Two -->

<!-- Three -->

<!-- Footer -->

<footer id="footer">
    <div class="container">
        <section class="links">
            <div class="row">
            </div>
        </section>
        <div class="row">
            <div class="8u 12u$(medium)">
                <ul class="copyright">
                    <li>&copy;Todos los derechos reservados.</li>
                    <li>Universidad Catolica</li>
                    <li>Siguenos en:</li>
                </ul>
            </div>
            <div class="4u$ 12u$(medium)">
                <ul class="icons">
                    <li>
                        <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                    </li>
                    <li>
                        <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                    </li>
                    <li>
                        <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                    </li>
                    <li>
                        <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>