<html>
<h1>TÉRMINOS Y CONDICIONES</h1>
<p>
Esta plataforma web Tutorías U.C contiene los siguientes términos y condiciones que serán aplicables a usted y a su acceso a esta plataforma. Por favor lea el contenido de este plataforma cuidadosamente:
<li> El uso de la plataforma web de Tutorías U.C y de los servicios ofrecidos están sujetos a las condiciones de un acuerdo válido y vinculante entre usted y Tutorías U.C.</li>
<li> El contenido de este plataforma no es propiedad de la Universidad Católica, es propiedad exclusiva de Tutorías U.C cuyo contenido está disponible únicamente en este plataforma.</li>
<li> Asumimos de manera razonable que el origen de los contenidos oficiales de esta plataforma son confiables, pero no otorgamos ninguna garantía expresa o implícita respecto de la exactitud o adecuación para un uso en particular de dicha información. </li>
<li> Hemos tenido el cuidado razonable para realizar la compilación y procesamiento de los datos contenidos en esta plataforma pero no otorgamos ninguna garantía sobre la exactitud, adecuación o integridad de cualquier información contenida en este plataforma.</li>
<li> Los usuarios de la plataforma podrán usar la información contenida en el mismo, para fines tales como registro, inicio de sesión, solicitar tutorías, evaluar docentes, cancelación de la tutoría, entre otros.</li>
<li> La plataforma se reserva el derecho de hacer cambios, modificaciones o adaptaciones en el contenido de la misma, a su entera discreción en cualquier tiempo, sin ninguna notificación previa o posterior a los usuarios por tal causa.</li>
<li> Tutorías U.C solamente será responsable del tratamiento y uso de los datos personales que recabe únicamente a través de la plataforma.</li>
<li> El Usuario reconoce que el ingreso de información personal, lo realiza de manera voluntaria.</li>
<li> Si usted tiene alguna sugerencia o pregunta acerca de los Términos y Condiciones de Uso de esta plataforma o de su Contenido, usted puede contactarnos a través de la sección de “Contáctenos” que aparece en la página principal de esta plataforma.</li>
<li> AL USAR LA PLATAFORMA WEB, USTED ACEPTA Y ESTÁ DE ACUERDO CON ESTOS TÉRMINOS Y CONDICIONES DE LA PLATAFORMA WEB. Si usted no acepta los Términos y Condiciones de Uso de esta plataforma, deberá abstenerse de acceder o utilizar esta plataforma. Al hacer uso de esta plataforma, usted manifiesta que ha leído y entendido dichos Términos y Condiciones de Uso, y se obliga a regirse por los mismos durante el uso en cualquier forma de esta plataforma.</li>
<br>
<a href="http://www.proyectosmexico.gob.mx/terminos-y-condiciones/">FUENTE </a>

</p>
</html>